<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz66.mapper.ArticleMapper">

    <resultMap type="com.xyz66.domain.entity.Article" id="ArticleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
        <result property="isTop" column="is_top" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="isComment" column="is_comment" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sg_blog.sg_article(title, content, summary, category_id, thumbnail, is_top, status, view_count, is_comment, create_by, create_time, update_by, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.title}, #{entity.content}, #{entity.summary}, #{entity.categoryId}, #{entity.thumbnail}, #{entity.isTop}, #{entity.status}, #{entity.viewCount}, #{entity.isComment}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sg_blog.sg_article(title, content, summary, category_id, thumbnail, is_top, status, view_count, is_comment, create_by, create_time, update_by, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.content}, #{entity.summary}, #{entity.categoryId}, #{entity.thumbnail}, #{entity.isTop}, #{entity.status}, #{entity.viewCount}, #{entity.isComment}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.delFlag})
        </foreach>
        on duplicate key update
         title = values(title) , content = values(content) , summary = values(summary) , category_id = values(category_id) , thumbnail = values(thumbnail) , is_top = values(is_top) , status = values(status) , view_count = values(view_count) , is_comment = values(is_comment) , create_by = values(create_by) , create_time = values(create_time) , update_by = values(update_by) , update_time = values(update_time) , del_flag = values(del_flag)     </insert>

</mapper>

