<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz66.web.mapper.CommentMapper">

    <resultMap type="com.xyz66.web.domain.entity.Comment" id="CommentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
        <result property="rootId" column="root_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="toCommentUserId" column="to_comment_user_id" jdbcType="INTEGER"/>
        <result property="toCommentId" column="to_comment_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>
<!--    `association`标签来定义一个**关联关系**-->
<!--    <resultMap id="csMap" type="com.xyz66.domain.entity.Link" extends="CommentMap">-->
<!--        <association property="address" column="{}"-->
<!--    </resultMap>-->

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sg_blog.sg_comment(type, article_id, root_id, content, to_comment_user_id, to_comment_id, create_by,
        create_time, update_by, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.articleId}, #{entity.rootId}, #{entity.content}, #{entity.toCommentUserId},
            #{entity.toCommentId}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime},
            #{entity.delFlag})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sg_blog.sg_comment(type, article_id, root_id, content, to_comment_user_id, to_comment_id, create_by,
        create_time, update_by, update_time, del_flag)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.articleId}, #{entity.rootId}, #{entity.content}, #{entity.toCommentUserId},
            #{entity.toCommentId}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime},
            #{entity.delFlag})
        </foreach>
        on duplicate key update
        type = values(type) , article_id = values(article_id) , root_id = values(root_id) , content = values(content) ,
        to_comment_user_id = values(to_comment_user_id) , to_comment_id = values(to_comment_id) , create_by =
        values(create_by) , create_time = values(create_time) , update_by = values(update_by) , update_time =
        values(update_time) , del_flag = values(del_flag)
    </insert>

</mapper>

